betterbus-ml/best-cropped.pt filter=lfs diff=lfs merge=lfs -text
betterbus-ml/best.pt filter=lfs diff=lfs merge=lfs -text
betterbus-ml/best_yolov8.onnx filter=lfs diff=lfs merge=lfs -text
betterbus-ml/yolov8.pt filter=lfs diff=lfs merge=lfs -text
betterbus-ml/yolov8s.pt filter=lfs diff=lfs merge=lfs -text
